code {
    background-color: rgba(220, 220, 220, .5);
    border-radius: 3px;
    box-decoration-break: clone;
    font-family: Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, consolas, "Liberation Mono", monospace;
    padding: 0.2em;
    word-wrap: break-word;
    border: 1px dotted #c0c0c0;
    line-height: 2em;
}

div.preview {
    padding: 10px 5px 5px 5px;
    display: none;
}

.preview > img, .preview > video {
    box-shadow: 0 0 10px dimgray;
    border: 10px solid darkgrey;
    border-radius: 3px;
}

.preview > img {
    cursor: zoom-in;
    max-width: 90vw;
}

a.betterpreview[href$='.png'], a.betterpreview[href$='.mp4'] {
    border-bottom: 1px dashed;
}

a.betterpreview:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

#copybox {
    position: absolute;
    font-family: Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, consolas, "Liberation Mono", monospace;
    background: #80C6FF;
    color: white;
    border: 1px dotted #c0c0c0;
    border-radius: 3px;
    padding: 2px;
}