code {
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    box-decoration-break: clone;
    font-family: Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, consolas, "Liberation Mono", monospace;
    padding: 0.1em;
    word-wrap: break-word;
    border: 1px dotted #c0c0c0;
    line-height: 1.65em;
}

div.preview {
    padding: 10px 5px 5px 5px;
    display: none;
}

.preview > img, .preview > video {
    box-shadow: 0 0 10px dimgray;
    border: 10px solid darkgrey;
    border-radius: 3px;
}

.preview > img {
    cursor: zoom-in;
    max-width: 90vw;
}

a.better-preview[href$='.png'], a.better-preview[href$='.mp4'] {
    border-bottom: 1px dashed;
}

a.better-preview:hover {
    text-decoration: none !important;
    border-bottom: 1px solid;
}

#copybox {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    background: #80C6FF;
    color: white;
    border: 1px dotted #c0c0c0;
    border-radius: 3px;
    padding: 2px;
}

#betterPopup {
    position: absolute;
    visibility: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    background: white;
    color: black;
    border: 1px solid rgba(192, 192, 192, 0.22);
    border-radius: 2px;
    padding: 3px 5px;
    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0, 42, 76, 0.15);
}

.better-intellij-link.bolt:hover {
    text-decoration: none !important;
}

.better-intellij-link.bolt::after {
    margin: 0 .5em;
    content: "\21af";
    background-color: #e5f4ff;
    border-radius: .5em;
    padding: 0 0.4em;
    text-decoration: none !important;
}

.better-intellij-link.bolt:hover::after {
    text-decoration: none !important;
    background-color: rgb(180, 223, 255);
}

#betterjs-loader-fixed {
    position: fixed;
    top: 5px;
    left: 5px;
}

.sparkline-wrapper {
    display:block;
    width:100%;
    height:15px;
}

[data-type='sparkline'] {
    display:block;
    width:100%;
    height:15px;
}

svg > rect {
    transition: all 200ms ease-in;
    transform: scale(1);
    transform-origin: center;
    transform-box: fill-box;
    opacity:0.3;
}

svg > rect:hover {
    transition: all 200ms ease-in;
    transform: scale(2,4);
    transform-origin: center;
    transform-box: fill-box;
    opacity: 1;
    cursor: pointer;
}

svg > .red-bar {
    fill:red;
    stroke-width:1;
    stroke: red;
}

svg > .green-bar {
    fill:#4da400;
    stroke-width:1;
    stroke: #4da400;
}

svg > .current {
    opacity: 1;
}
/*

.rightBlock.expandedDetails {
    display: none;
}*/
