code {
    background-color: rgba(220, 220, 220, .5);
    border-radius: 2px;
    box-decoration-break: clone;
    font-family: Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, consolas, "Liberation Mono", monospace;
    padding: 0.2em;
    word-wrap: break-word;
    border: 1px dotted #c0c0c0;
    line-height: 2em;
}

div.preview {
    padding: 5px 0;
}

.preview > img, .preview > video {
    box-shadow: 0 0 10px dimgray;
    border: 10px solid white;
}

.preview > img {
    max-width: 90%;
}